@model IEnumerable<SalesWebMvc.Models.Departament> 
<!-- Lista(coleção) generica de Departments -->
@{
    ViewData["Title"] = "Departments";
}

<h2>Departments</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead> <!---Cabeçalho da tabela -->
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id) <!-- Recebe uma expressão Lambda, qual dado do meu model quero exibir na view -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) { <!-- construção do Razer Page que faz um foreach em uma coleção no Model(pega a coleção que veio do controlador) -->
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
